Repository ita-social-projects/GreenCityUBS, pull requests merged in 2025-09, with the labels that each got.

#1808 Bugfix #7220 changed a default locale for password restoration email
  service-api/src/main/java/greencity/client/UserRemoteClient.java
  service-api/src/main/java/greencity/client/config/UserRemoteClientFallbackFactory.java
  service-api/src/test/java/greencity/client/config/UserRemoteClientFallbackFactoryTest.java
  service/src/main/java/greencity/service/ubs/UBSManagementEmployeeServiceImpl.java
Labels: bug

#1809 Feature: add sorting chat by cliend ID
  dao/src/main/java/greencity/repository/TelegramChatRepository.java
  service/src/main/java/greencity/ubstelegrambot/service/TelegramServiceImpl.java
  service/src/test/java/greencity/ubstelegrambot/TelegramServiceTest.java
Labels: enhancement, chat, java

#1820 Refactor: 9028 remove fondy residues
  service/src/main/java/greencity/service/ubs/UBSClientServiceImpl.java
  service/src/test/java/greencity/service/ubs/UBSClientServiceImplTest.java
Labels: bug, java

#1841 fix BigOrderTableRepositoryTest
  core/src/test/java/greencity/IntegrationTestBase.java
Labels: bug
